@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="~/global.css" rel="stylesheet" />
</head>
<body>
    
    <div class="container">
        <h1 class="col-md-12">All Products</h1>
        <p class="col-md-12">
            Filter your search by clicking one of the links below.
        </p>

        <div class="col-md-3">
            <!-- "Filter" Navigation -->
            @Html.Partial("~/views/home/_mainNav.cshtml")
        </div>

        <!-- Product Table -->
        <div class="col-md-9">
            @Html.Partial("_ProductTable")
        </div>
    </div>
</body>
</html>
