
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderDetails</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="~/global.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1 class="col-md-12">Details of Order: @ViewBag.orderSelection.OrderID</h1>
        <p class="col-md-12">
            Below are all products contained within the order you've selected.
        </p>

        <!-- Breadcrumb Navigation -->
        <nav class="col-xs-12" id="breadcrumb">
            <span><a href="/Home">Orders</a></span>
            <span>&gt;</span>
            <span><a href="/Home/Orders/@ViewBag.orderSelection.OrderID">@ViewBag.orderSelection.OrderID</a></span>
        </nav>

        <div class="col-md-3">
            <!-- "Filter" Navigation -->
            @Html.Partial("~/views/home/_mainNav.cshtml")
        </div>

        <!-- Render table from products in ViewBag.productList -->
        <div class="col-md-9">
            @Html.Partial("~/views/home/_producttable.cshtml")
        </div>
    </div>
</body>
</html>
